<p-menubar>
  <ng-template #start>
    <img src="./assets/Logo.svg" alt="app logo" class="w-100" />
  </ng-template>

  <ng-template #end>
    <div class="flex items-center gap-2">
      <p-avatar [image]="avatar" shape="circle" />
    </div>
  </ng-template>
</p-menubar>
<p-table
  [value]="tasks"
  dataKey="id"
  editMode="row"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template #header>
    <tr>
      <th class="w-1/3">Task Code</th>
      @if(role ==='admin'){
      <th class="w-1/3">User ID</th>
      } @else {
      <th class="w-1/3">Date</th>
      }
      <th class="w-1/3">Title</th>
      <th class="w-1/3">Status</th>
      <th class="w-1/3"></th>
    </tr>
  </ng-template>

  <ng-template #body let-task let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="task">
      <td>
        <p-cellEditor>
          <ng-template #input>
            <input pInputText type="text" [(ngModel)]="task.id" />
          </ng-template>
          <ng-template #output>
            {{ task.id }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        @if(role ==='admin'){
        <p-cellEditor>
          <ng-template #input> 
            <input pInputText type="text" [(ngModel)]="task.assignedTo" required />
          </ng-template>
          <ng-template #output>
            {{ task.assignedTo }}
          </ng-template> </p-cellEditor
        >} @else {
        <p-cellEditor>
          <ng-template #input>
            <input pInputText type="text" [(ngModel)]="task.date" required />
          </ng-template>
          <ng-template #output>
            {{ task.date }}
          </ng-template>
        </p-cellEditor>
        }
      </td>
      <td>
        <p-cellEditor>
          <ng-template #input>
            <input pInputText type="text" [(ngModel)]="task.title" />
          </ng-template>
          <ng-template #output>
            {{ task.title }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <ng-template #input>
            <p-select
              [options]="statuses"
              appendTo="body"
              [(ngModel)]="task.status"
              [style]="{ width: '100%' }"
            />
          </ng-template>
          <ng-template #output>
            <p-tag
              [value]="task.status"
              [severity]="getSeverity(task.status)"
            />
          </ng-template>
        </p-cellEditor>
      </td>

      <td>
        <div class="flex items-center justify-center gap-2">
          <button
            *ngIf="!editing"
            pButton
            pRipple
            type="button"
            pInitEditableRow
            icon="pi pi-pencil"
            (click)="onRowEditInit(tasks)"
            text
            rounded
            severity="secondary"
          ></button>
          <button
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pSaveEditableRow
            icon="pi pi-check"
            (click)="onRowEditSave(tasks)"
            text
            rounded
            severity="secondary"
          ></button>
          <button
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pCancelEditableRow
            icon="pi pi-times"
            (click)="onRowEditCancel(tasks, ri)"
            text
            rounded
            severity="secondary"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
