<p-menubar>
  <ng-template #start>
    <img src="./assets/Logo.svg" alt="app logo" class="w-100" />
  </ng-template>

  <ng-template #end>
    <div class="flex items-center gap-2">
      <p-avatar [image]="avatar" shape="circle" />
    </div>
  </ng-template>
</p-menubar>
@defer (on viewport) {<p-table
  [value]="tasks"
  dataKey="id"
  editMode="row"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template #header>
    @if(role ==='user'){
    <tr>
      <td colspan="5">
        <button
          pButton
          label="Add Task"
          icon="pi pi-plus"
          class="w-full"
          (click)="addNewTask()"
        ></button>
      </td>
    </tr>
    }

    <tr>
      <th class="w-1/3">Task Code</th>
      <th class="w-1/3">Title</th>
      @if(role ==='admin'){
      <th class="w-1/3">User ID</th>
      } @else {
      <th class="w-1/3">Description</th>
      }
      <th class="w-1/3">Status</th>
      <th class="w-1/3"></th>
    </tr>
  </ng-template>

  <ng-template #body let-task let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="task">
      <td>
        <p-cellEditor>
          <ng-template #input>
            <input pInputText type="text" [(ngModel)]="task.id" fluid />
          </ng-template>
          <ng-template #output>
            {{ task.id }}
          </ng-template>
        </p-cellEditor>
      </td>

      @if(role ==='admin'){
      <td>
        <p-cellEditor>
          <ng-template #input>
            <input pInputText type="text" [(ngModel)]="task.title" />
          </ng-template>
          <ng-template #output>
            {{ task.title }}
          </ng-template>
        </p-cellEditor>
      </td>
      } @else {
      <td [pEditableColumn]="task.title" pEditableColumnField="title">
        <p-cellEditor>
          <ng-template #input>
            <input pInputText type="text" [(ngModel)]="task.title" fluid />
          </ng-template>
          <ng-template #output>
            {{ task.title }}
          </ng-template>
        </p-cellEditor>
      </td>
      } @if(role ==='admin'){
      <td>
        <p-cellEditor>
          <ng-template #input>
            <input
              pInputText
              type="text"
              [(ngModel)]="task.assignedTo"
              required
            />
          </ng-template>
          <ng-template #output>
            {{ task.assignedTo }}
          </ng-template>
        </p-cellEditor>
      </td>
      } @else {
      <td
        [pEditableColumn]="task.description"
        pEditableColumnField="description"
      >
        <p-cellEditor>
          <ng-template #input>
            <input
              pInputText
              type="text"
              [(ngModel)]="task.description"
              required
              fluid
            />
          </ng-template>
          <ng-template #output>
            {{ task.description }}
          </ng-template>
        </p-cellEditor>
      </td>
      } @if(role==='admin') {
      <td>
        <p-cellEditor>
          <ng-template #input>
            <p-select
              [options]="statuses"
              appendTo="body"
              [(ngModel)]="task.status"
              fluid
            />
          </ng-template>
          <ng-template #output>
            <p-tag
              [value]="task.status"
              [severity]="getSeverity(task.status)"
            />
          </ng-template>
        </p-cellEditor>
      </td>
      } @else {
      <td [pEditableColumn]="task.status" pEditableColumnField="status">
        <p-cellEditor>
          <ng-template #input>
            <p-select
              [options]="statuses"
              appendTo="body"
              [(ngModel)]="task.status"
              [style]="{ width: '100%' }"
            />
          </ng-template>
          <ng-template #output>
            <p-tag
              [value]="task.status"
              [severity]="getSeverity(task.status)"
            />
          </ng-template>
        </p-cellEditor>
      </td>
      } @if(role === 'user'){
      <td class="flex">
        <button
          pButton
          pRipple
          type="button"
          pSaveEditableRow
          icon="pi pi-check"
          (click)="onRowEditSave(task)"
          text
          rounded
          severity="success"
        ></button>
        <button
          pButton
          pRipple
          type="button"
          pCancelEditableRow
          icon="pi pi-times"
          (click)="onRowdelete(task)"
          text
          rounded
          severity="danger"
        ></button>
      </td>
      }@else{
        <td></td>
      }
    </tr>
  </ng-template> </p-table
>} @placeholder(minimum 1s) {
<div class="flex justify-center items-center h-full">
  <p-progress-spinner ariaLabel="loading" />
</div>
}
