<p-menubar>
  <ng-template #start>
    <img src="./assets/Logo.svg" alt="app logo" class="w-100" />
  </ng-template>

  <ng-template #end>
    <div class="flex items-center gap-2">
      <p-avatar [image]="avatar" shape="circle" />
    </div>
  </ng-template>
</p-menubar>
<p-table
  [value]="tasks"
  dataKey="id"
  editMode="row"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template #header>
    <tr>
      <th style="width: 20%">Code</th>
      <th style="width: 20%">Name</th>
      <th style="width: 20%">Status</th>
      <th style="width: 20%"></th>
      <th style="width: 20%"></th>
    </tr>
  </ng-template>
  <ng-template #body let-product let-editing="editing" let-ri="rowIndex">
    <tr [pEditableRow]="product">
      <td>
        <p-cellEditor>
          <!-- <ng-template #input>
                      <input
                          pInputText
                          type="text"
                          [(ngModel)]="tasks.code" />
                  </ng-template> -->
          <ng-template #output>
            {{ tasks }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <!-- <ng-template #input>
                      <input
                          pInputText type="text"
                          [(ngModel)]="tasks.name"
                          required />
                  </ng-template> -->
          <!-- <ng-template #output>
                      {{tasks.name}}
                  </ng-template> -->
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <!-- <ng-template #input>
                      <p-select
                          [options]="statuses"
                          appendTo="body"
                          [(ngModel)]="tasks.inventoryStatus"
                          [style]="{'width':'100%'}" />
                  </ng-template> -->
          <!-- <ng-template #output>
                      <p-tag
                          [value]="tasks.inventoryStatus"
                          [severity]="getSeverity(tasks.inventoryStatus)" />
                  </ng-template> -->
        </p-cellEditor>
      </td>
      <td>
        <p-cellEditor>
          <!-- <ng-template #input>
                      <input
                          pInputText
                          type="text"
                          [(ngModel)]="tasks.price" />
                  </ng-template> -->
          <!-- <ng-template #output>
                      {{tasks.price | currency: 'USD'}}
                  </ng-template> -->
        </p-cellEditor>
      </td>
      <td>
        <div class="flex items-center justify-center gap-2">
          <button
            *ngIf="!editing"
            pButton
            pRipple
            type="button"
            pInitEditableRow
            icon="pi pi-pencil"
            (click)="onRowEditInit(tasks)"
            text
            rounded
            severity="secondary"
          ></button>
          <button
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pSaveEditableRow
            icon="pi pi-check"
            (click)="onRowEditSave(tasks)"
            text
            rounded
            severity="secondary"
          ></button>
          <button
            *ngIf="editing"
            pButton
            pRipple
            type="button"
            pCancelEditableRow
            icon="pi pi-times"
            (click)="onRowEditCancel(tasks, ri)"
            text
            rounded
            severity="secondary"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
