<div class="flex align-items-center justify-content-center h-screen">
    <div class="surface-card p-5 shadow-4 border-round w-full lg:w-6">
      <div class="text-center mb-5 flex flex-column">
        <img src="/assets/Logo.svg" alt="Image" height="50" class="h-14" />
      </div>
  
      <div>
        <label for="email1" class="block font-medium mb-2">Email</label>
        <input
          id="email1"
          type="text"
          placeholder="Email address"
          pInputText
          class="w-full mb-3"
          [(ngModel)]="email"
        />
  
        <label for="password1" class="block font-medium mb-2">Password</label>
        <input
          id="password1"
          type="password"
          placeholder="Password"
          pInputText
          class="w-full mb-3"
          [(ngModel)]="password"
        />
        <router-outlet />
       
      </div>
    </div>
  </div>
  
